rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow anyone to submit a contact form.
    // In a real application, you'd likely want to restrict read/update/delete access to admins.
    match /contactFormSubmissions/{submissionId} {
      allow create: if true;
      allow read, write: if false;
    }
  }
}
